.jumbotron {
  background-color: #6a1094;
  color: white;
  margin-top: 50px; }

.btn-vermas {
  width: 100%;
  border-radius: 0%; }

.container {
  padding: 5px 5px 5px 5px;
  margin-top: 10px; }

.card-venta {
  flex: 200px;
  /*top rigth boton left*/
  /*padding: 5px 30px 5px 30px;*/
  margin-top: 10px; }

.btnmantenimiento {
  width: 100%;
  border-radius: 0%; }

.footer {
  color: white;
  padding: 10px 150px 10px 200px;
  background-color: #6a1094;
  margin-bottom: 0px;
  margin-top: 50px; }

.footer-addres-icon {
  padding-right: 10px; }
